<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Capella | Shoes</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/css/style6.css">
    <link rel="stylesheet" href="/css/style7.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <nav id="navegacion" class="bg-teal-900 r">


    </nav>

    <table>
      <thead>
        <tr>
          <th>Pagos pendientes:</th>
        </tr>
      </thead>
      <tbody id="pagos-1">
       
      </tbody>
    </table>
      
      <table>
        <thead>
          <tr>
            <th>Pagos concretados:</th>
          </tr>
        </thead>
        <tbody id="pagos-2">
            
        </tbody>
      </table>


      <footer id="aqui" class="mx-auto p-4 pt-6 md:p-6 lg:p-12 bg-teal-950">
    
      </footer>  


    <script src="../components/nav.js"></script>
    <script src="script.js"></script>
    <script>
          // Seleccionamos el botón hamburguesa y el menú
const hamburger = document.querySelector('.hamburger');
const menu = document.querySelector('.menu');

// Agregamos un evento de clic al botón hamburguesa
hamburger.addEventListener('click', () => {
  // Mostramos el menú
  menu.classList.toggle('show');
  // Cambiamos el estado del botón hamburguesa
  hamburger.classList.toggle('show');
});

// Agregamos un evento de clic fuera del menú para ocultarlo
document.addEventListener('click', (e) => {
  if (!menu.contains(e.target) && !hamburger.contains(e.target)) {
    menu.classList.remove('show');
    hamburger.classList.remove('show');
  }
});
    </script>
</body>
</html>
