<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Capella | Shoes</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/css/style-5.css">
    <link rel="stylesheet" href="/css/style7.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>


</head>


<body>
    <nav id="navegacion" class="bg-teal-900">


    </nav>
  

    <table class="tabla">
        <thead>
          <tr>
            <th>Producto</th>
          </tr>
        </thead>
        <tbody id="product-list">
            
        </tbody>

      </table> 
      <div class="pagar-d">
      <button id="pagar-btn" class="bg-teal-900 hover:bg-teal-400 py-2 px-4 text-white font-bold rounded">Pagar</button>
      </div>
      <div id="payment-form" class="hidden formulario-pago">
        <form id="form-datos" class="formulario--y bg-teal-900 rounded-2xl gap-2 p-4 items-center lg:w-2/6 shadow-l mb-14">

        </form>
      </div>
      
      

      <footer id="aqui" class="mx-auto p-4 pt-6 md:p-6 lg:p-12 bg-teal-950">
    
      </footer>  



  <script src="script.js"></script>
  <script src="../components/nav.js"></script>
  <script>
        // Seleccionamos el botón hamburguesa y el menú
const hamburger = document.querySelector('.hamburger');
const menu = document.querySelector('.menu');

// Agregamos un evento de clic al botón hamburguesa
hamburger.addEventListener('click', () => {
  // Mostramos el menú
  menu.classList.toggle('show');
  // Cambiamos el estado del botón hamburguesa
  hamburger.classList.toggle('show');
});

// Agregamos un evento de clic fuera del menú para ocultarlo
document.addEventListener('click', (e) => {
  if (!menu.contains(e.target) && !hamburger.contains(e.target)) {
    menu.classList.remove('show');
    hamburger.classList.remove('show');
  }
});
  </script>
</body>
</html>