<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Capella | Shoes</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/style7.css">

</head>


<body>
    <nav id="navegacion" class="bg-teal-900">


    </nav>
<Section class="imagen">

    <div class="banner">

        <section class="x">
        <div >
            <img src="/img/blanco 3-8.png" class="logo" alt="logo">
        </div>

        <div>
            <p class="ban-p"><span class="b">¿Buscas zapatos que combinen estilo, <span class="text-teal-400">comodidad y calidad?</span></span><br>

                En Capella Shoes, encontrarás una amplia selección de calzado <br> para hombre, mujer y niño, perfecto para cualquier ocasión.
                <br><br><span class="n text-teal-400 font-bold">Que esperas para registrarte? No te quedes sin tu par</span>
        </div>
    </section>

            <div class="boton-container">
                <a href="/login/"
                    class="boton bg-teal-400 py-5 px-8 rounded-lg hover:bg-teal-900 hover:text-white font-bold text-black transition ease-in-out">Ingresar</a>

                <a href="/registro/"
                    class="boton bg-teal-400 py-5 px-8 rounded-lg hover:bg-teal-900 hover:text-white font-bold text-black transition ease-in-out">
                    Registro</a>
            </div>

    </div>




</Section>



<h2 class="inicial">Es hora de ser parte de nuestra tienda</h2>

<section class="text1">
  <div class="container-x">
  <div class="contenido">
    <h2 class="text-t">Todo tipo de calzado:</h2>
    <div class="slider">
      <div class="slider-track">
        <div class="slide">
          <img src="/img/gamma-force-zapatillas-mRSGQt.png" alt="">
        </div>
        <div class="slide">
          <img src="/img/converse chuck 70 at'cs.jpg" alt="">
        </div>      
        <div class="slide">
          <img src="/img/new balance 550.jpg" alt="">
        </div>
        <div class="slide">
          <img src="/img/air-jordan-11-retro-older-shoes-GCbh8H.png" alt="">
        </div>      
        <div class="slide">
          <img src="/img/kobe-ad.jpg" alt="">
        </div>      
        <div class="slide">
          <img src="/img/new balance 960.webp" alt="">
        </div>      
        <div class="slide">
          <img src="/img/retro 3.webp" alt="">
        </div>      
        <div class="slide">
          <img src="/img/puma layup.jpg" alt="">
        </div>
        <div class="slide">
          <img src="/img/zoom-fly-5.jpg" alt="">
        </div>
        <div class="slide">
          <img src="/img/gamma-force-zapatillas-mRSGQt.png" alt="">
        </div>
        <div class="slide">
          <img src="/img/converse chuck 70 at'cs.jpg" alt="">
        </div>      
        <div class="slide">
          <img src="/img/new balance 550.jpg" alt="">
        </div>
        <div class="slide">
          <img src="/img/air-jordan-11-retro-older-shoes-GCbh8H.png" alt="">
        </div>      
        <div class="slide">
          <img src="/img/kobe-ad.jpg" alt="">
        </div>      
        <div class="slide">
          <img src="/img/new balance 960.webp" alt="">
        </div>      
        <div class="slide">
          <img src="/img/retro 3.webp" alt="">
        </div>      
        <div class="slide">
          <img src="/img/puma layup.jpg" alt="">
        </div>
        <div class="slide">
          <img src="/img/zoom-fly-5.jpg" alt="">
        </div>
        <div class="slide">
          <img src="/img/gamma-force-zapatillas-mRSGQt.png" alt="">
        </div>
        <div class="slide">
          <img src="/img/converse chuck 70 at'cs.jpg" alt="">
        </div>      
        <div class="slide">
          <img src="/img/new balance 550.jpg" alt="">
        </div>
        <div class="slide">
          <img src="/img/air-jordan-11-retro-older-shoes-GCbh8H.png" alt="">
        </div>      
        <div class="slide">
          <img src="/img/kobe-ad.jpg" alt="">
        </div>      
        <div class="slide">
          <img src="/img/new balance 960.webp" alt="">
        </div>      
        <div class="slide">
          <img src="/img/retro 3.webp" alt="">
        </div>      
        <div class="slide">
          <img src="/img/puma layup.jpg" alt="">
        </div>
        <div class="slide">
          <img src="/img/zoom-fly-5.jpg" alt="">
        </div>
        <div class="slide">
          <img src="/img/gamma-force-zapatillas-mRSGQt.png" alt="">
        </div>
        <div class="slide">
          <img src="/img/converse chuck 70 at'cs.jpg" alt="">
        </div>      
        <div class="slide">
          <img src="/img/new balance 550.jpg" alt="">
        </div>
        <div class="slide">
          <img src="/img/air-jordan-11-retro-older-shoes-GCbh8H.png" alt="">
        </div>      
        <div class="slide">
          <img src="/img/kobe-ad.jpg" alt="">
        </div>      
        <div class="slide">
          <img src="/img/new balance 960.webp" alt="">
        </div>      
        <div class="slide">
          <img src="/img/retro 3.webp" alt="">
        </div>      
        <div class="slide">
          <img src="/img/puma layup.jpg" alt="">
        </div>
        <div class="slide">
          <img src="/img/zoom-fly-5.jpg" alt="">
        </div>
      </div>
    </div> 
    <p>Tienes para elegir el que más te guste</p>
  </div>    
  <img src="/img/info.jpg" class="imgn1" alt="">
  </div>
</section>





  <div class="banner1">
    <div class="banner-content">
      <h2>¡Descubre la pasión por los zapatos en Capella!</h2>
      <p>En nuestra tienda, encontrarás la mayor variedad de modelos y marcas para hombres y mujeres. Desde clásicos hasta tendencias, nuestros zapatos te harán sentir como un rey.</p>
      <a href="/registro/">Registrate ya!</a>
    </div>
  </div>




  <section class="text1">
    
    <div class="container-x">
    <div class="contenido">
      <h2 class="text-t">Marcas relacionadas:</h2>

      <div class="slider">
        <div class="slider-track">
          <div class="slide">
            <img src="/img/adidas.webp" alt="">
          </div>
          <div class="slide">
            <img src="/img/2560px-Converse-Logo.jpg" alt="">
          </div>      
          <div class="slide">
            <img src="/img/timberlan.jpg" alt="">
          </div>
          <div class="slide">
            <img src="/img/nike.jpg" alt="">
          </div>      
          <div class="slide">
            <img src="/img/0139937c2f641ab61fd020844ccfd459.jpg" alt="">
          </div>           
          <div class="slide">
            <img src="/img/new-balance.jpg" alt="">
          </div>      
          <div class="slide">
            <img src="/img/puma.jpg" alt="">
          </div>
          <div class="slide">
            <img src="/img/vans.jpg" alt="">
          </div>
        <div class="slide">
            <img src="/img/adidas.webp" alt="">
          </div>
          <div class="slide">
            <img src="/img/2560px-Converse-Logo.jpg" alt="">
          </div>      
          <div class="slide">
            <img src="/img/timberlan.jpg" alt="">
          </div>
          <div class="slide">
            <img src="/img/nike.jpg" alt="">
          </div>      
          <div class="slide">
            <img src="/img/0139937c2f641ab61fd020844ccfd459.jpg" alt="">
          </div>           
          <div class="slide">
            <img src="/img/new-balance.jpg" alt="">
          </div>      
          <div class="slide">
            <img src="/img/puma.jpg" alt="">
          </div>
          <div class="slide">
            <img src="/img/vans.jpg" alt="">
          </div>
          <div class="slide">
            <img src="/img/adidas.webp" alt="">
          </div>
          <div class="slide">
            <img src="/img/2560px-Converse-Logo.jpg" alt="">
          </div>      
          <div class="slide">
            <img src="/img/timberlan.jpg" alt="">
          </div>
          <div class="slide">
            <img src="/img/nike.jpg" alt="">
          </div>      
          <div class="slide">
            <img src="/img/0139937c2f641ab61fd020844ccfd459.jpg" alt="">
          </div>           
          <div class="slide">
            <img src="/img/new-balance.jpg" alt="">
          </div>      
          <div class="slide">
            <img src="/img/puma.jpg" alt="">
          </div>
          <div class="slide">
            <img src="/img/vans.jpg" alt="">
          </div>
        <div class="slide">
            <img src="/img/adidas.webp" alt="">
          </div>
          <div class="slide">
            <img src="/img/2560px-Converse-Logo.jpg" alt="">
          </div>      
          <div class="slide">
            <img src="/img/timberlan.jpg" alt="">
          </div>
          <div class="slide">
            <img src="/img/nike.jpg" alt="">
          </div>      
          <div class="slide">
            <img src="/img/0139937c2f641ab61fd020844ccfd459.jpg" alt="">
          </div>           
          <div class="slide">
            <img src="/img/new-balance.jpg" alt="">
          </div>      
          <div class="slide">
            <img src="/img/puma.jpg" alt="">
          </div>
          <div class="slide">
            <img src="/img/vans.jpg" alt="">
          </div>
          <div class="slide">
            <img src="/img/adidas.webp" alt="">
          </div>
          <div class="slide">
            <img src="/img/2560px-Converse-Logo.jpg" alt="">
          </div>      
          <div class="slide">
            <img src="/img/timberlan.jpg" alt="">
          </div>
          <div class="slide">
            <img src="/img/nike.jpg" alt="">
          </div>      
          <div class="slide">
            <img src="/img/0139937c2f641ab61fd020844ccfd459.jpg" alt="">
          </div>           
          <div class="slide">
            <img src="/img/new-balance.jpg" alt="">
          </div>      
          <div class="slide">
            <img src="/img/puma.jpg" alt="">
          </div>
          <div class="slide">
            <img src="/img/vans.jpg" alt="">
          </div>
        <div class="slide">
            <img src="/img/adidas.webp" alt="">
          </div>
          <div class="slide">
            <img src="/img/2560px-Converse-Logo.jpg" alt="">
          </div>      
          <div class="slide">
            <img src="/img/timberlan.jpg" alt="">
          </div>
          <div class="slide">
            <img src="/img/nike.jpg" alt="">
          </div>      
          <div class="slide">
            <img src="/img/0139937c2f641ab61fd020844ccfd459.jpg" alt="">
          </div>           
          <div class="slide">
            <img src="/img/new-balance.jpg" alt="">
          </div>      
          <div class="slide">
            <img src="/img/puma.jpg" alt="">
          </div>
          <div class="slide">
            <img src="/img/vans.jpg" alt="">
          </div>
        </div>
      </div>
    </div>    
    <img src="/img/negro3-8.png" class="imgn2" alt="">
    </div>
  </section>



<footer id="aqui" class="mx-auto p-4 pt-6 md:p-6 lg:p-12 bg-teal-950">
    

</footer>  




<script src="../components/nav.js"></script>
<script>
    // Seleccionamos el botón hamburguesa y el menú
const hamburger = document.querySelector('.hamburger');
const menu = document.querySelector('.menu');

// Agregamos un evento de clic al botón hamburguesa
hamburger.addEventListener('click', () => {
  // Mostramos el menú
  menu.classList.toggle('show');
  // Cambiamos el estado del botón hamburguesa
  hamburger.classList.toggle('show');
});

// Agregamos un evento de clic fuera del menú para ocultarlo
document.addEventListener('click', (e) => {
  if (!menu.contains(e.target) && !hamburger.contains(e.target)) {
    menu.classList.remove('show');
    hamburger.classList.remove('show');
  }
});
</script>
    <script src="../components/nav.js"></script>
    <script src="slider.js"></script>
</body>

</html>