<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style-4.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>

  

  <body>
    <div class="contenedor">
      <nav class="nav-bar">
        <a href="/administrador-principal/">Productos</a>
        <a href="/administrador-historial/">Historial de pagos</a>
        <a href="/administrador-pagos/">Pagos por revisar</a>
        <a
        href=""
        id="btn-c"
            class="btn-c cursor-pointer">
           Cerrar sesión</a>
      </nav>
  
  <h1>Productos</h1>

        <h1>Historial de pagos</h1>
    
        <table class="tabla">
            <thead>
              <tr>
                <th>Cedula:</th>
                <th>Telefono:</th>
                <th>Banco</th>
                <th>Numero de referencia</th>
              </tr>

              
              <tbody id="pagos-aceptados"></tbody>
            </thead>
          </table>
    </div>

<script src="script.js"></script>
<script>
  const btnCerrarSesion2 = document.getElementById('btn-c');

btnCerrarSesion2.addEventListener('click', async () =>{
const response = await axios.post('/api/users/logout');
if (response.status === 200) {
  console.log('Logout correcto!');
  location.reload()
} else {
  console.log('Logout fallo:', response.status);
}
})
</script>
</body>
</html>