<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style-4.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>

  <body>
    <div class="contenedor">
      <nav class="nav-bar">
        <a href="/admin/">Productos</a>
        <a href="/historial/">Historial de pagos</a>
        <a href="/pagosAdmin/">Pagos por revisar</a>
      </nav>
  
  <h1>Productos</h1>

        <h1>Historial de pagos</h1>
    
        <table class="tabla">
            <thead>
              <tr>
                <th>Cedula:</th>
                <th>Telefono:</th>
                <th>Banco</th>
                <th>Numero de referencia</th>
              </tr>

              
              <tbody id="pagos-aceptados"></tbody>
            </thead>
          </table>
    </div>

<script src="script.js"></script>
</body>
</html>